<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Add New Contact</ion-title>
    <ion-icon name="close" slot="end" size="large" class="ion-padding" (click)="dismiss()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-item>
       <ion-textarea [(ngModel)]="contactName" placeholder="Enter new contact"></ion-textarea>
    </ion-item>
  
<ion-item>
    <ion-label>Priority</ion-label>
    <ion-select [(ngModel)]="contactPriority">
      <ion-select-option value="low">low</ion-select-option>
      <ion-select-option value="middle">middle</ion-select-option>
      <ion-select-option value="high" selected>high</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-icon name="calendar-outline" slot="start"></ion-icon>
    <ion-label>Number</ion-label>
    <ion-textarea [(ngModel)]="contactNumber" placeholder="Enter new contact"></ion-textarea>
  </ion-item>

  <ion-item>
    <ion-icon name="pricetag-outline" slot="start"></ion-icon>
    <ion-label> Category</ion-label>
    <span>{{categorySelectedCategory}}</span>
  </ion-item>

  <ion-item>
    <ion-chip *ngFor="let category of categories; let i = index" (click)="selectCategory(i)">
       <ion-label>{{category}}</ion-label>
    </ion-chip>

    <ion-chip color="primary" outline="true">
      <ion-label color="secondary">new</ion-label>
      <ion-button fill="clear">
        <ion-icon slot="icon-only" name="add-outline"></ion-icon>
      </ion-button>
    </ion-chip>
  </ion-item>

  <ion-button class="ion-margin" expand="block" (click)="update()">Update Contact</ion-button>
  </ion-card>
</ion-content>
